extends main-layout-public
block content
	//- Function to format the dates from SQL into something readable
	-function prettyDate(dateString){
		-var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
		-var date = new Date(dateString);
		-var d = date.getDate(dateString);
		-var m = monthNames[date.getMonth()];
		-var y = date.getFullYear();
		-return m+' '+d+', '+y;
	-} 
	div.public-notes
		p Public Page to view any Tournament

	//- <script>
	//- 	| console.log("test")
	//- 	| var testing = #{tournamentdata}
	//- </script>

	div.public-notes
		if tournamentdata
			if tournamentdata.email
				p The current user is logged in
				if tournamentdata.owner
					p The current logged in user is the owner of this tournament
				else
					p The current logged in user is NOT the owner of this tournament
			else
				p The current user is not logged in
	div.title.public-notes
		p #{tournamentdata.title}
		p #{prettyDate(tournamentdata.createdAt)}
	//- each key in tournamentdata.Players
	//- 	div.public-notes
	//- 		| Seed #{key.seed}
	//- 		| #{key.playername}

	<button id="btnSubmit" type="button">Generate Tournament</button>
	div#competitorEntrycontainer
		div#backDrop
		textarea#playerNameEntry( cols="50" rows="10" name="playerNameEntry" value="1")

	script(type='text/javascript').
		var tournament = !{JSON.stringify(tournamentdata)}
		console.log(tournament);
		const playerNames = document.getElementById('playerNameEntry');
		const linebreak = document.createElement("br");

		for (let i=0; i < tournament.Players.length; i++) {
			playerNames.append(tournament.Players[i].playername + "\n")
		}