//- index.pug
extends main-layout
block content
	div.container
		div.row.hero
			div.col-sm-12
				p Name: #{tournamentdata[0].User.firstname} #{tournamentdata[0].User.lastname}
				p Join Date: #{tournamentdata[0].User.createdAt}
				p Tournaments Created: #{tournamentdata.length}
		div.row.tournamentList
			div.col-sm-4
				p.tableHeader Tournament Name
			div.col-sm-4
				p.tableHeader Date Created
			div.col-sm-4
				p.tableHeader Winner
			for item, key in tournamentdata
				div.col-sm-4= item.title
				div.col-sm-4= item.createdAt
				div.col-sm-4= item.winner